In [9]:
Name="Archana Pachupate"
Roll_Number = 9138
print(Name)
print(Roll_Number)

Archana Pachupate
9138

In [10]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [11]:
print(bool("Hello"))
print(bool())

True
False

In [12]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [13]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [14]:
x,y = 15, 9
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
True
False
True
False

In [15]:
x=8
print(x < 5 and  x < 10)
print(x < 5 or  x < 10)
print(not(x>10))
print(not(x < 5 and x < 10))

False
True
True
True

In [16]:
x, y = 2,10
print(x is y)
print(x is not y)

False
True

In [17]:
x, y = 'Hi', "Hi"
print(x is y)
print(x is not y)

True
False

In [18]:
x="Have a good day!" 
print("Have" in x)
print("H" in x)
print("av a" in x)
print('good day' in x)

True
True
False
True

In [19]:
a = " Nashik is not in Pune"
print('Pune' in a)

True

In [20]:
a="I Like Python"
print(a[-11:-7])
print(a[2:6])

Like
Like